<ul class="nav flex-column bg-l-grey">
  <li class="nav-item">
    <a class="btn container b-border" (click)="navigateHome()">Home</a>
  </li>    
  <li class="nav-item">
      <a class="btn container b-border" (click)="navigateToUpcomingTrips()">Upcoming Trips</a>
    </li>
    <li class="nav-item">
      <a class="btn container b-border" (click)="navigateToFindFriends()">Find Friends</a>
    </li>
    <li class="nav-item">
      <a class="btn container b-border" (click)="navigateToPackageTrips()">View Package Trips</a>
    </li>
  </ul>